@use "palette";

div {
	height: 100vh;
	width: 100vw;
	background-color: map-get(palette.$color, "primary");

	&.titlePage {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;

		background-image: url("./images/line-mountain.jpeg");
		background-repeat: no-repeat;
		background-size: 100vw;
		background-position: center bottom;
	}

	&.content {
		margin: 5%;
		padding: 5%;

		&--contact {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

#linkedIn {
	width: 170px;
	height: 170px;

	& a:hover {
		cursor: pointer;
		background-color: green;
		size: 200%;
	}
}

#github {
	width: 200px;
	height: 200px;

	& a:hover {
		cursor: pointer;
		background-color: green;
		size: 200%;
	}
}

$cols: 4;
$rows: 2;
$grid-width: 80vh / $cols;
$grid-height: 80vh / $cols;

.grid {
	margin: 0%;
	padding: 0;

	display: grid;
	justify-content: center;
	align-items: center;

	grid-template-columns: repeat($cols, $grid-width);
	grid-template-rows: repeat($rows, $grid-height);
	grid-template-areas:
		"p1 p2 p3 p4"
		"p5 p6 p7 p8";

	gap: 30px;
	width: $grid-width;
	height: $grid-height;

	justify-content: flex-start;

	&--project {
		width: $grid-width;
		height: $grid-height;
		background-color: map-get(palette.$color, "secondary");

		border-radius: 50%;

		&:hover {
			width: $grid-width;
			height: $grid-height;
			border-radius: 50%;
			background-color: orange;
		}

		& > a {
			color: map-get(palette.$color, "primary");
			text-decoration: none;
		}
	}
}

#p1 {
	grid-area: p1;
}

#p2 {
	grid-area: p2;
}

#p3 {
	grid-area: p3;
}

#p4 {
	grid-area: p4;
}

#p5 {
	grid-area: p5;
}

#p6 {
	grid-area: p6;
}
#p7 {
	grid-area: p7;
}

#p8 {
	grid-area: p8;
}

$colsSkills: 3;
$rowsSkills: 3;
$grid-width-skills: 80vh / $colsSkills;
$grid-height-skills: 80vh / $colsSkills;

.skillsGrid {
	margin: 0%;
	padding: 0;

	display: grid;
	justify-content: center;
	align-items: center;

	text-align: center;

	grid-template-columns: repeat($colsSkills, $grid-width-skills);
	grid-template-rows: repeat($rowsSkills, $grid-height-skills);
	grid-template-areas:
		"s1 s2 s3"
		"s4 s5 s6"
		"s7 s8 s9";

	gap: 30px;

	width: $grid-width-skills;
	height: $grid-height-skills;

	justify-content: flex-start;
}

.grid--skills {
	width: $grid-width-skills;
	height: $grid-height-skills;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: map-get(palette.$color, "secondary");
	color: map-get(palette.$color, "primary");

	background-color: black;

	border-radius: 50%;
	&:hover {
		width: $grid-width-skills;
		height: $grid-height-skills;

		border-radius: 50%;

		background-color: orange;
	}
}

#s1 {
	grid-area: s1;
}

#s2 {
	grid-area: s2;
}

#s3 {
	grid-area: s3;
}

#s4 {
	grid-area: s4;
}

#s5 {
	grid-area: s5;
}

#s6 {
	grid-area: s6;
}
#s7 {
	grid-area: s7;
}

#s8 {
	grid-area: s8;
}
