$sm: 360px; // Samsung x 740 (mobile)
$md: 820px; // iPad Air (tablet) x 1180
$lg: 1024px; // Laptop x 664

/*
1. navbar 
2. front page 
3. about 
4. projects 
5. skills
6. contact 

*/

@media only screen and (max-width: $sm) {
	h1 {
		font-size: 3vh;
	}
	h2 {
		font-size: 2vh;
	}
	h3 {
		font-size: 2vh;
	}
	p {
		font-size: 1vh;
		width: fit-content;
		overflow-block: scroll;
	}
	li {
		font-size: 1vh;
	}

	.titlePage {
		max-height: cover;
		width: cover;
		background-size: cover;
		background-position: center bottom;
		background-color: red;
	}
}

// h1 {
// 	@media only screen and (max-width: $sm) {
// 		font-size: 3vh;
// 	}
// }

// h2 {
// 	@media only screen and (max-width: $sm) {
// 		font-size: 1vh;
// 	}
// }

// p {
// 	@media only screen and (max-width: $sm) {
// 		font-size: 1vh;
// 		width: fit-content;
// 	}
// }

.titlePage {
	@media only screen and (max-width: $sm) {
		background-position: center;
		background-size: cover;
		max-width: 100vw;
		max-height: fit-content;
	}
}

.grid {
	@media only screen and (max-width: $sm) {
		max-width: 10vw;
		max-height: 10vw;
		grid-template-areas:
			"p1 p2"
			"p3 p4"
			"p5 p6"
			"p7 p8";
		gap: 0;

		&--project {
			border-radius: 0;
			max-height: 10vh;
			max-width: 10vh;
		}
	}
}

.skillsGrid {
	@media only screen and (max-width: $sm) {
		max-width: 100vw;
		grid-template-areas:
			"s1 s3"
			"s2 s4"
			"s5 s6"
			"s7 s8";
		gap: 0;
	}
}
