@use "navbar";

$sm: 360px; // Samsung x 740 (mobile)
$md: 820px; // iPad Air (tablet) x 1180
$lg: 1024px; // Laptop x 664

/*
1. navbar 
2. front page 
3. about 
4. projects 
5. skills
6. contact 

*/

@media only screen and (max-width: $sm) {
	// 1. Navbar
	.navbar {
		min-height: 70px;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		top: 70px;
		width: 50%;
	}

	.nav-item {
		margin: 20px 0;
	}

	// 2. Front Page
	.titlePage {
		background-size: 100%;
		align-items: center;
		text-align: center;
	}

	#title-name {
		margin-left: 0;
		font-size: 250%;
	}

	#title-role {
		margin-left: 0;
		font-size: 150%;
	}

	h1 {
		font-size: 250%;
	}

	h3 {
		font-size: 150%;
	}

	// 3. About
	.content {
		&--about {
			flex-wrap: wrap;

			img {
				height: 20%;
			}
		}
	}

	// 4. projects media queries are on _hoverEffect

	// 5. skills media queries are not required

	// 6. contact

	#linkedIn {
		width: 5rem;
		height: 5rem;
	}

	#github {
		width: 6rem;
		height: 6rem;
	}
}

@media only screen and (min-width: ($sm + 1)) and (max-width: $md) {
	// 1. Navbar
	.navbar {
		padding: 2rem, 2rem;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		top: 100px;
		width: 30%;
	}

	.nav-item {
		margin: 16px 0;
	}

	// 2. Front Page
	.titlePage {
		background-size: 100%;
		align-items: center;
		text-align: center;
	}

	#title-name {
		margin-left: 0vw;
	}

	#title-role {
		margin-left: 0vw;
	}

	// 3. About
	.content {
		&--about {
			flex-wrap: wrap;

			img {
				height: 20%;
			}
		}
	}
}

@media only screen and (min-width: ($md + 1)) and (max-width: $lg) {
	// 1. Navbar
	.navbar {
		padding: 3rem, 3rem;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		top: 70px;
		width: 25%;
	}

	.nav-item {
		margin: 16px 0;
	}

	// 2. Front Page
	.titlePage {
		background-size: 100vw;
		align-items: flex-start;
	}

	#title-name {
		margin-left: 40vw;
	}

	#title-role {
		margin-left: 40vw;
	}

	// 3. About
	.content {
		&--about {
			img {
				width: 40vw;
			}
		}
	}
}

@media only screen and (min-width: ($lg + 1)) {
	// 1. Navbar
	.navbar {
		padding: 3rem, 3rem;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		top: 70px;
		width: 25%;
	}

	.nav-item {
		margin: 16px 0;
	}

	// 2. Front Page
	.titlePage {
		background-size: 100vw;
		align-items: flex-start;
	}
	#title-name {
		margin-left: 40vw;
	}

	#title-role {
		margin-left: 40vw;
	}

	// 3. About
	.content {
		&--about {
			img {
				height: 70%;
			}
		}
	}
}
