@use "palette";
@use "typography";
@use "navbar";
@import "mixins";

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    border: 1px solid black;

    height: 100vh;
    //width: 100vw; // For 100% of the screen width

    display: flex;

    justify-content: center;
    align-items: center;
    padding: 10vh;

    background-color: rgba(0, 0, 0, 100%);

    &--intro {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    &--about {
        justify-content: center;
        align-items: center;
        padding: 0;

        background-image: url("images/amani_bw.jpeg");
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: left bottom;
    }

    &--projects {
        background-color: white;
    }
}

/* ----------- Home ----------- */
$max-width: 100vw;
$cols: 5;
$grid-height: calc(100vw / $cols);
$grid-width: $grid-height;

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 0;

    &__title {
        margin: 20px;
        font-weight: bolder;
    }
}

/* ----------- About Me --------- */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__description {
        display: flex;
        flex-direction: column;

        width: 30vw;
        height: 100vh;

        p {
            a {
                background-color: rgba(207, 233, 241, 0.397);
                background-size: 20px;
                border-radius: 10%;
            }
        }
    }

    &__image {
        height: 100vh;
        width: 40vw;
    }
}

/* ----------- Projects --------- */

.projects {
    display: grid;

    &__grid {
        display: grid;
        justify-content: stretch;
        grid-template-columns: repeat(
            $cols,
            $grid-height
        ); // to make grids into squares both height and width are $grid-height
        grid-template-rows: repeat(2, $grid-width);
        grid-template-areas: "project-1 project-2 project-3 project-4 project-5";

        left: 0;
        grid-gap: 10px;

        margin: 0;
        padding: 0;

        &--item {
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: contain;

            background-size: $grid-height $grid-width;
            background-repeat: no-repeat;
            background-position: bottom center;

            font-size: 2vh;
            font-weight: 300;

            a {
                color: black;
                position: absolute;
            }

            a:hover {
                background-color: rgba(0, 0, 0, 0.705);
                width: $grid-height;
                height: $grid-height;
                color: white;
            }
        }

        &a:hover {
            // opacity: 1;
            // transition: 1s ease;
            cursor: pointer;
            background-color: black;
        }
    }
}

#project-1 {
    grid-area: project-1;
    background-image: url("images/project-images/hourglass-1.webp");
}

#project-2 {
    grid-area: project-2;
    background-image: url("images/project-images/hourglass-2.jpeg");
}

#project-3 {
    grid-area: project-3;
    background-image: url("images/project-images/hourglass-3.jpeg");
}

#project-4 {
    grid-area: project-4;
    background-image: url("images/project-images/hourglass-4.jpeg");
}

#project-5 {
    grid-area: project-5;
    background-image: url("images/project-images/hourglass-5.jpeg");
}
